<nav class="navbar">
<!--        <div class="navbar__header">-->
<!--&lt;!&ndash;            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">&ndash;&gt;-->
<!--&lt;!&ndash;                <span class="sr-only">Toggle navigation</span>&ndash;&gt;-->
<!--&lt;!&ndash;                <span class="icon-bar">fsdfss</span>&ndash;&gt;-->
<!--&lt;!&ndash;                <span class="icon-bar"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                <span class="icon-bar"></span>&ndash;&gt;-->
<!--&lt;!&ndash;            </button>&ndash;&gt;-->
<!--            <a class="navbar-brand" href="#">Online Auction</a>-->
<!--        </div>-->
    <a class="navbar-brand" href="#">Online Auction</a>

    <ul class="navbar__navigation">
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>